<!DOCTYPE html>
<html lang="en" class="{{ .File.BaseFileName }} {{ if .Params.style  }}{{ .Params.style }}{{ end }} {{ if .Params.category  }}{{ .Params.category }}{{ end }} {{ if .Params.status  }}{{ .Params.status }}{{ end }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ $sass := resources.Get "css/main.scss"  | resources.ToCSS (dict "outputStyle" "compressed" "enableSourceMap" true) | fingerprint  }}
{{ $style := $sass | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<title>{{ partial "emoji.html" . }} {{ .Site.Title | upper }}/{{ .Title | singularize }}</title>
</head>
<body>

	<div class="container">
			<header class="header">
			<h2>
			<a data-toggle="popover" data-placement="top" data-content="generic about contact here">
{{ .Site.Title }}
</a>/</h2>
		<h1>
		<a data-toggle="popover" data-placement="top" data-content="list all catalogs here">
{{ .Title | singularize }}
</a></h1>
	
			<h2>{{ .Description }}</h2>
		
		</header>
<div class="divider"></div>
		<article>


			<ul>
			  {{ range .Pages }}
      {{ if (in .Params.type "public") }}
       <li><a href="{{ .RelPermalink }}">{{ .Title }}
       </a></li>

{{ end }}
{{ end }}
</ul>
		</article>
<div class="divider"></div>
		<footer class="footer">
<a class="logo" href="/">commons.garden</a> guards and enhances knowledge commons by sponsoring initiatives through conflict resolution, specs, documentation, consulting.
		</footer>
	</div>
	{{ partial "scripts.html" . }} 
</body>
</html>

