<!DOCTYPE html>
<html lang="en" class="{{ with .File }}{{ .BaseFileName }}{{ end }} {{ if .Params.style  }}{{ .Params.style }}{{ end }} {{ if .Params.category  }}{{ .Params.category }}{{ end }} {{ if .Params.status  }}{{ .Params.status }}{{ end }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ $sass := resources.Get "css/main.scss"  | resources.ToCSS (dict "outputStyle" "compressed" "enableSourceMap" true) | fingerprint  }}
{{ $style := $sass | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<title>{{ partial "emoji.html" . }} {{ .Site.Title | upper }}/{{ .Title | singularize }}</title>
</head>
<body>

	<div class="container">
			<header class="header">
			<h2>
			{{ partial "popover-title.html" . }}/
		</h2>
		<h1>{{ partial "popover-categories.html" . }}
{{ .Title | singularize }}
</a></h1>
		
		
		</header>

		<article>

			<div class="list post">
			  {{ range .Pages }}
      {{ if (in .Params.type "public") }}
     <a href="{{ .RelPermalink }}">
							
							<span class="title">{{ .Title }}</span>
							<span class="description">{{ .Params.Description }}{{if .Params.Status }}, {{ .Params.Status }}{{ end }}</span>
							
						</a>
{{ end }}
{{ end }}
</div>
		</article>

		{{ partial "slogan.html" . }}
	</div>
	{{ partial "scripts.html" . }} 
</body>
</html>

