<!DOCTYPE html>
{{ partial "html.html" . }}
{{ partial "head.html" . }}
<body>

	<div class="container">
			<header class="header">
			<h2>
			<a data-toggle="popover" data-placement="top" data-content="generic about contact here">
{{ .Site.Title }}
</a>/</h2>
		<h1>
		<a data-toggle="popover" data-placement="top" data-content="list all catalogs here">
{{ .Title | singularize }}
</a></h1>
	
			<h2>{{ .Description }}</h2>
		
		</header>
<div class="divider"></div>
		<article>
			<ul>
			  {{ range .Pages }}
      {{ if (in .Params.type "public") }}
       <li><a href="{{ .RelPermalink }}">{{ .Title }}
       </a></li>


{{ end }}
{{ end }}
</ul>
		</article>
<div class="divider"></div>
		<footer class="footer">
<a class="logo" href="/">commons.garden</a> guards and enhances knowledge commons by sponsoring initiatives through conflict resolution, specs, documentation, consulting.
		</footer>
	</div>
	{{ partial "scripts.html" . }} 
</body>
</html>

