<!doctype html>
<html
  lang="en"
  class="single {{ if .Params.style }}
    {{ .Params.style }}
  {{ end }} {{ .Section }}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $sass := resources.Get "css/main.scss"  | resources.ToCSS (dict "outputStyle" "compressed" "enableSourceMap" true) | fingerprint }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

    <title>
      {{ .Site.Title }}/{{ .Section }}/{{ with .File }}
        {{ .BaseFileName }}
      {{ end }}
    </title>
  </head>

  <body>
    <div class="container">
      <header class="global">
        <a
          data-toggle="collapse"
          href="#menu-global"
          role="button"
          aria-expanded="false"
          aria-controls="menu-global"
        >
          <h2>{{ .Site.Title }}/{{ .Section }}/</h2>
          {{ partial "affordance.html" . }}
        </a>

        <div class="collapse collapse-content menu" id="menu-global">
          {{ partial "menu-global.html" . }}
        </div>
      </header>
<header class="page"><h1>{{ .Title }}</h1></header>
  <!--     <header class="article">
        <a
          data-toggle="collapse"
          href="#menu-article"
          role="button"
          aria-expanded="false"
          aria-controls="menu-article"
        >
          <h1>{{ .Title }}</h1>
          {{ partial "affordance.html" . }}
        </a>
        <div class="collapse collapse-content menu" id="menu-article">
          {{ partial "menu-article.html" . }}
        </div> -->
        <!--
        <h2>
          <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>/ <a href="{{ .Site.BaseURL }}/{{ .Params.Category }}">{{ .Params.Category }}</a>
        </h2>

        <h1>{{ .Title }}</h1>
        {{ partial "category.html" . }}  -->
      </header>

      {{ if .Description }}
        <header class="description">
          <h2>{{ .Description }}</h2>
        </header>
      {{ end }}


      <!-- <div class="content with-history"> -->
      <div class="content">
        <!-- {{ partial "history.html" . }} -->

        <article>
          {{ if (eq .Type "gardener") }}
            {{ partial "gardener-template.html" . }}
          {{ else if (eq .Type "organization") }}
            {{ partial "organization-template.html" . }}
          {{ else }}
            {{ partial "status.html" . }}
          {{ end }}

          {{ .Content }}

          {{ if .Params.Link }}
            <p>
              <a href="{{ .Params.Link }}" class="btn">Visit {{ .Title }}</a>
            </p>
          {{ end }}

          {{ partial "needs.html" . }}

          {{ with .GetTerms "contacts" }}
            {{ range . }}
              {{ . }}
              poop
            {{ end }}
          {{ end }}
        </article>
      </div>
    </div>

    {{ partial "scripts.html" . }}
  </body>
</html>
