@include font-face(TINY5x3-160, 
	$path: "../fonts/", 
	$file: TINY5x3-160, 
	$weight: normal, 
	$style: normal
);

@include font-face(Calling Code, 
	$path: "../fonts/", 
	$file: calling-code-regular, 
	$weight: normal, 
	$style: normal
);

@include font-face(Dot Matrix, 
	$path: "../fonts/", 
	$file: dotmatrix, 
	$weight: normal, 
	$style: normal
);

@include font-face(PP Fraktion, 
	$path: "../fonts/", 
	$file: PPFraktionMono-Bold, 
	$weight: bold, 
	$style: normal
);
@include font-face(PP Fraktion, 
	$path: "../fonts/", 
	$file: PPFraktionMono-BoldItalic, 
	$weight: bold, 
	$style: italic
);
@include font-face(PP Fraktion, 
	$path: "../fonts/", 
	$file: PPFraktionMono-Light, 
	$weight: lighter, 
	$style: normal
);
@include font-face(PP Fraktion, 
	$path: "../fonts/", 
	$file: PPFraktionMono-LightItalic, 
	$weight: lighter, 
	$style: italic
);
@include font-face(PP Fraktion, 
	$path: "../fonts/", 
	$file: PPFraktionMono-Regular, 
	$weight: normal, 
	$style: normal
);
@include font-face(PP Fraktion, 
	$path: "../fonts/", 
	$file: PPFraktionMono-RegularItalic, 
	$weight: normal, 
	$style: italic
);