@include font-face(TINY5x3-160, 
	$path: "../fonts/", 
	$file: TINY5x3-160, 
	$weight: normal, 
	$style: normal
);

@include font-face(Calling Code, 
	$path: "../fonts/", 
	$file: calling-code-regular, 
	$weight: normal, 
	$style: normal
);
