  $bp: 500px;
  :root {
    --text-font: Calling Code;
    --title-font: TINY5x3-160;
    --color-bg: #FFEDED;
    --color-fg: #15141A;;
    --color-accent: #cc999c;
    --color-accent-light: #E0C7C8;
    --transition: 300ms;
    --delay: 300ms;
    --gap: 8px;
    --gap-2: calc(var(--gap) * 2);
    --gap-3: calc(var(--gap) * 3);
    --gap-4: calc(var(--gap) * 4);
    --gap-5: calc(var(--gap) * 5);
    --gap-6: calc(var(--gap) * 6);
    --gap-7: calc(var(--gap) * 7);
    --gap-8: calc(var(--gap) * 8);
    --gap-9: calc(var(--gap) * 9);
    --gap-10: calc(var(--gap) * 10);
    --gap-half: calc(var(--gap) / 2);
    --gap-quart: calc(var(--gap) / 4);
    --grid-gap: var(--gap-3);
  }

