


body {
	font-family: var(--text-font);
	background-color: var(--color-bg);
	-color: var(--color-fg);
	font-size: 15px;

}
.container {
	max-width: $bp;
	margin: var(--gap-5) auto;
	@media (max-width: $bp) {
		margin: var(--gap-3) auto;
	}

}
a {
	@include transition;
	word-break: break-all;
	&:not(.btn) {
		text-decoration: underline;
	}
	color: var(--color-fg);
}
a:hover {
	color: var(--color-accent);
}

	h1 {
		font-size: 60px !important;

	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 20px;
	}


header.header, footer.footer {
	h1, h2, h3, .logo {
		word-break: break-all;
		font-family: var(--title-font);
		text-transform: uppercase;
		line-heighT: 65%;
	}
}


@media (min-width: $bp) {
	.half, .third, .quarter, .third-reverse {
		display: grid;
		width: 100%;
		grid-gap: var(--grid-gap);
	}
	.half {

		grid-template-columns: 1fr 1fr;

	}

	.third {

		grid-template-columns: 1fr 2fr;

	}
	.third-reverse {

		grid-template-columns: 2fr 1fr;

	}

	.quarter {
		grid-template-columns: 1fr 3fr;

	}
}

article.with-status {
	@extend .third;

}
article.main {
	@extend .third-reverse;
}

header.header:after, footer.footer:before, .home footer.footer:after {

		content: "";

	height: 3px;
	display: block;
	margin: var(--gap-5) 0;
	@media (max-width: $bp) {
		margin: var(--gap-3) 0;
	}
	background-repeat: repeat-x;
	background-image: url(../images/divider.svg);

	
}

.home footer.footer:before {
	display: none;
}

header.header:after {
	margin-top: var(--gap-3);
}




.logo {
	color: var(--color-fg);
	font-size: 30px;
	margin-righT: 5px;
	margin-bottom: 10px;
}

ul.status {
	padding: 0;
	list-style-type: none;
	
	span {
		text-transform: uppercase;
		background-image: url(../images/slide-in.png);
		color: var(--color-bg);
		padding: 0 2px;

	}
}




a.btn {
	text-align: left;
	text-transform: uppercase;
	padding: var(--gap) var(--gap-3);
	@include radius(0, regular);
	padding: var(--gap) var(--gap-3);
	border: solid 1px var(--color-accent);
	@include transition;
	&:hover {
		background-color: white;
		text-decoration: none;
	}
	
}

code {
	word-break: keep-all;
	background-color: var(--color-accent);
	padding: 0 2px;
	color: black;
}

table {
	width: 100%;
	tbody tr {
		border-top: solid .5px var(--color-accent);
	}
	td, th {
		padding: 10px;

		vertical-align: top;
		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: 0;
		}
	}
}

a[data-toggle="popover"] {
	margin-right: 17px;
	cursor: context-menu;
&:hover {
		color: #000000 !important;
			&:after {
			color: var(--color-fg);
			border: solid 2px var(--color-fg);
		}
	}
	&:after {
		content: "+";
		@include transition;
		font-size: 14px;
		font-weighT: bold;
		line-height: 11px;
		text-align: center;
		background-color: var(--color-bg);
		color: var(--color-accent);
		width: var(--gap-2);
		height: var(--gap-2);
		@include radius(50%, regular);
		border: solid 2px var(--color-accent);
		font-family: var(--text-font);
		position: absolute;
		margin-top: 3px;
		margin-left: -3px;

		h1 & {
			margin-top: 13px;
			margin-left: 3px;
			line-height: 11px;
		}
	}
		
}

.list {
	a {
		padding: var(--gap) 0;
		border-top: solid 1px var(--color-accent);


		&:first-of-type {
			padding-top: 0;
			border-top: none;
		}
		text-decoration: none;
		display: block;
		@include transition;
		.title {
			background-image: url(../images/slide-in.png);
			padding: 0 2px;
			color: var(--color-bg);
			text-transform: uppercase;
		}
		span {
			word-break: break-word;
		}
		.description {
			font-size: 80%;
			display: block;
		}
		&:hover {
			color: var(--color-fg);
			.description {
text-decoration: underline;
			}
		}
	}
}
.popover {
	margin-top: 15px !important;
}

.popover-body {
	@include shadow(box, 5px 5px 0px rgba(0, 0, 0, 0.15));
	overflow: auto;
	max-height: 300px;
	width: 200px;
	font-family: var(--text-font) !important;
	a {
		border: 0 !important;
		background: none !important;
		span {
			&.description {
			color: var(--color-fg);
		}
		&.title {
			color: white;
		}
		}
	}
}
