


body {
font-family: var(--text-font);
background-color: var(--color-bg);
-color: var(--color-fg);
font-size: 15px;

}
.container {
	max-width: $bp;
	margin: var(--gap-5) auto;
		@media (max-width: $bp) {
		margin: var(--gap-3) auto;
	}

}
a {
	@include transition;
	word-break: break-all;
	&:not(.btn) {
		text-decoration: underline;
	}
	color: var(--color-fg);
}
a:hover {
	color: var(--color-accent);
}


h1 {
	font-size: 60px !important;
	
}
h2 {
	font-size: var(--gap-4);
}
h3 {
	font-size: 25px;
}

header.header, footer.footer {
	h1, h2, h3, .logo {
	word-break: break-all;
	font-family: var(--title-font);
	text-transform: uppercase;
	line-heighT: 65%;
}
}

article.with-status {
	@media (min-width: $bp) {
		display: grid;
		width: 100%;
		grid-gap: var(--gap-2);
grid-template-columns: 1fr 2fr;
}

}

.divider {
	height: 3px;
	display: block;
	margin: var(--gap-5) 0;
	@media (max-width: $bp) {
		margin: var(--gap-3) 0;
	}
	background-repeat: repeat-x;
	background-image: url(../images/divider.svg);
}

.logo {
color: var(--color-fg);
font-size: 30px;
margin-righT: 5px;
margin-bottom: 10px;
}

ul.status {
	padding: 0;
	list-style-type: none;
	
	span {
		text-transform: uppercase;
		background-color: var(--color-fg);
		color: var(--color-bg);
		padding: 0 2px;
	}
}




a.btn {
	text-align: left;
	text-transform: uppercase;
	padding: var(--gap) var(--gap-3);
	@include radius(0, regular);
	padding: var(--gap) var(--gap-3);
	border: solid 1px var(--color-accent);
	@include transition;
	&:hover {
		background-color: white;
		text-decoration: none;
	}
	
}

code {
	word-break: keep-all;
	background-color: var(--color-accent);
	padding: 0 2px;
	color: white;
}

table {
	tbody tr {
		border-top: solid 1px var(--color-accent);
	}
	td, th {
		padding: 10px;
		
	vertical-align: top;
		&:first-of-type {
			padding-left: 0;
		}
			&:last-of-type {
			padding-right: 0;
		}
	}
}
