// .tooltip {
//     position: absolute;
//     z-index: 1020;
//     display: block;
//     visibility: visible;
//     opacity: 0;
//     filter: alpha(opacity=0);
//     .tooltip-inner {
//         text-align: left;
//         font-family: var(--font-text);
//         @include radius(0);
//         background-color: black;
//         padding: var(--gap) var(--gap-2);
//         color: white;
//         @include shadow(box, 0 2px 0px rgba(0, 0, 0, 0.15));

//     }
//     &.in {
//         opacity: 1;
//         filter: alpha(opacity=100);
//     }

// }

// a[data-toggle="collapse"] {
//     &[aria-expanded="true"]:before {
//         content: "Hide";
//     }
//     &[aria-expanded="false"]:before {
//         content: "Show";
//     }
// }
