<article class="with-status">
	<ul class="status">
		{{ if .Params.Status }}
		<li class="status">
			<span>status:</span>
			{{ .Params.Status }}
		</li>
		{{ end }}
		{{ if .Params.Facilitator }}
		<li>
			<span>Facilitator:</span>
			<!-- system should loop thru list (", "): if there's a person post with same name, link to it. if not, just print, no link -->
			{{ .Params.Facilitator }}
		</li>
		{{ end }}
		{{ if .Params.Date }}
		<li>
			<span>Date:</span>
			{{ .Params.Date }}
		</li>
		{{ end }}
		{{ if .Params.Scope }}
		<li>
			<span>scope:</span>
			{{ .Params.Scope }}
		</li>
		{{ end }}
		{{ if .Params.License }}
		<li>
			<span>license:</span>
			{{ .Params.License }}
		</li>
		{{ end }}
		{{ if .Params.Author }}
		<li>
			<span>author:</span>
			<!-- system should loop thru list (", "): if there's a person post with same name, link to it. if not, just print, no link -->
			{{ .Params.Author }}
		</li>
		{{ end }}
		{{ if .Params.Reviewed }}
		<li>
			<span>reviewed by:</span>
			<!-- system should loop thru list (", "): if there's a person post with same name, link to it. if not, just print, no link -->
			{{ .Params.Reviewed }}
		</li>
		{{ end }}
		{{ if (in .Params.Category "initiative") }}
		<li>
			<span>hashtag:</span>
			<code>#{{ with .File }}{{ .BaseFileName }}{{ end }}</code>
		</li>
		{{ end }}
		{{ if .Params.Implemented }}
		<li>
			<span>implemented in:</span>
			<!-- system should loop thru list (", "): if there's an organization post with same name, link to it. if not, just print, no link -->
			{{ .Params.Implemented }}
		</li>
		{{ end }}
		{{ if .Params.Comm_link }}
		<li>
			<span>Communication:</span>
			<a href="{{ .Params.Comm_link }}">{{ .Params.Comm_title }}</a>
		</li>
		{{ end }}
		{{ if .Params.Note_link }}
		<li>
			<span>Notes:</span>
			<a href="{{ .Params.Note_link }}">{{ .Params.Note_title }}</a>
		</li>
		{{ end }}

	</ul>
	<section class="content">
		{{ .Content }}
		{{ if .Params.Link }}
		<a class="btn" target="_blank" href="{{ .Params.Link }}">View {{ .Params.Category }} {{ if .Params.Platform }} on {{ .Params.Platform }}{{ end }}</a>
		{{ end }}
	</section>
</article>