{{ $name := .Params.title }}

{{ $PublicPages := where .Site.AllPages "Params.Type" "public" }}
{{ $FacilitatorPages := where $PublicPages "Params.facilitator" "intersect" (slice $name) }}
{{ $AuthorPages := where $PublicPages ".Params.author" "intersect" (slice $name) }}
{{ $HelpedPages := where $PublicPages ".Params.helped" "intersect" (slice $name) }}

{{ $ImageTypes := slice "jpg" "jpeg" "png" "svg" }}

<article>
  <div class="badge">
  {{ range $ImageTypes }}
    {{ $img_src := (printf "/images/gardener/%s.%s" $name .) }}
    {{ if (fileExists (add "static" $img_src)) }}
      <div 
        class="avatar"
        style="background-image: url({{ $img_src }})"
       />
    {{ end }}
  {{ end }}
  </div>

	<ul class="status">
    <!--
    <li>
      <span>Organizations I belong:</span> (pending)
      {{ range .Site.AllPages }}
        {{ if (and (in .Params.members $name) (in .Params.Type "public")) }}
          <a href="/{{.Params.category}}/{{.File.ContentBaseName}}">{{.Params.title}}</a>
          ({{.Params.category}})
        {{ end }}
      {{ end }}
    </li>
    -->

    <li>
      <span>Facilitator in:</span>
      {{ range $FacilitatorPages }}
        <a href="/{{.Params.category}}/{{.File.ContentBaseName}}">{{.Params.title}}</a>
        ({{.Params.category}})
      {{ end }}
      {{ if len $FacilitatorPages | eq 0 }}
        <em>None yet</em>
      {{ end }}
    </li>

    <li>
      <span>Author in:</span>
      {{ range $AuthorPages }}
        <a href="/{{.Params.category}}/{{.File.ContentBaseName}}">{{.Params.title}}</a>
        ({{.Params.category}})
      {{ end }}
      {{ if len $AuthorPages | eq 0 }}
        <em>None yet</em>
      {{ end }}
    </li>

    <li>
      <span>Helped in:</span>
      {{ range $HelpedPages }}
        <a href="/{{.Params.category}}/{{.File.ContentBaseName}}">{{.Params.title}}</a>
        ({{.Params.category}})
      {{ end }}
      {{ if len $HelpedPages | eq 0 }}
        <em>None yet</em>
      {{ end }}
    </li>
	</ul>

	<section class="content">
		{{ .Content }}
	</section>
</article>
