
<blockquote>
<p>Commons Garden guards and enhances knowledge commons by sponsoring initiatives thru conflict resolution, specs, documentation, consulting</p>
</blockquote>
<h3 id="-visit-main-board-https-www-figma-com-file-icqnckdydqjvf22uqd3dn5-commons-garden-notes-board-node-id-0-3a1-t-4ihgoma8pusodfjc-1-">🗺️ <a href="https://www.figma.com/file/icqNCkdyDQjVF22uqd3dn5/Commons-Garden-notes-board?node-id=0%3A1&amp;t=4IhGoMa8PuSOdFJc-1">visit main board</a></h3>
<h2 id="mission-statement">Mission statement</h2>
<p>The Scuttlebutt ecosystem is comprised of informal alliances, projects and organisations. Our mission is to support a diverse and vibrant ecosystem by:</p>
<ul>
<li>Supporting <em>alignment and coordination</em> among actors</li>
<li>Identifying <em>emergent problems</em> and tensions</li>
<li>Facilitating communication and <em>dispute resolution</em></li>
<li>Hosting (or pointing to) existing <em>specifications</em></li>
<li>Guiding the <em>production of new</em> specifications </li>
<li>Producing (or pointing to) <em>comparative</em> documentation</li>
<li><em>Mapping</em> the ecosystem</li>
</ul>
<h2 id="how-to-collaborate">How to collaborate</h2>
<ol>
<li><strong>Per initiative</strong>
Check the <em>Open Initiatives</em> list below. If you:   <ol>
<li>have field knowledge on the subject and </li>
<li>are willing to participate on discussions
join conversation (signal app needed) and introduce yourself.</li>
</ol>
</li>
<li><strong>Overall organization</strong> 
If you have experience managing coalition groups, we&#39;d love to hear from you. Please follow <em>About us</em> and join conversation (signal app needed).</li>
<li><strong>Keep in touch</strong>
Commons Garden is on initial stages, but keep informed via our <a href="opencollective.com/commons-garden">Open Collective</a> page</li>
</ol>
<h2 id="open-initiatives">Open initiatives</h2>
<ol>
<li><strong>invite-driven onboarding</strong><ul>
<li><a href="https://www.figma.com/file/eG3RjraaGHIdv1nuUp667J/Invite-driven-onboarding?node-id=0%3A1&amp;t=R3PDlUca7gZLo0is-1">diagram</a> (figjam)</li>
<li><a href="https://gitlab.com/staltz/manyverse/-/issues/1887">documentation</a> (gitlab)</li>
</ul>
</li>
<li><strong>p2p delete</strong><ul>
<li><a href="https://www.figma.com/file/a3MVrJ2Z8UDILkHK0NUeYb/p2p-delete?node-id=5%3A311&amp;t=7mcjSfgX1w3FWexU-1">board</a> (figjam)</li>
<li><a href="https://hackmd.io/@praxis/p2p-delete">documentation</a> (hackmd)</li>
<li><a href="https://signal.group/#CjQKIGFSis4tbGdzpujg_Xw-UudxHZnnPuxmxPfFjSbzvII7EhAXQHs1aCqWBymiid6TMV78">conversation</a> (signal)</li>
</ul>
</li>
<li><strong>identity recovery</strong><ul>
<li><a href="https://www.figma.com/file/Qkei1VgElbho66UinY9MzH/identity-recovery?node-id=0%3A1&amp;t=X61ec705X2vYRHFz-1">board</a> (figjam)</li>
<li><a href="https://gitlab.com/staltz/manyverse/-/issues/1942">proposal</a> (gitlab)</li>
</ul>
</li>
<li><strong>SSB moderation</strong><ul>
<li><a href="https://www.figma.com/file/C9YFMDwsOIXbmt88QoxL2B/SSB-moderation?node-id=0%3A1&amp;t=F1bQPrqHYAd5pXwu-1">board</a></li>
<li><a href="https://signal.group/#CjQKIKbXJYLBlMFQeAj5vSma4LFdEzmFhBnguL3AuOeJEclnEhBx3ApnFdng1LyS7ZR7l836">conversation</a></li>
<li><a href="https://hackmd.io/@praxis/moderation">documentation</a></li>
</ul>
</li>
<li><strong>backlog</strong> (<a href="https://www.figma.com/file/UIQDqYS48Pkg0ARSY9Rpf4/feature-backlog?node-id=0%3A1&amp;t=uNvxo364L3hzJ2BL-1">board</a>)<ul>
<li>multi-device (fusion identity)</li>
<li>P2P analytics</li>
<li>dying online</li>
<li>collections</li>
<li>SSB simulation lab</li>
<li>stencil</li>
</ul>
</li>
</ol>
<h2 id="about-us">About us</h2>
<ul>
<li><a href="https://www.figma.com/file/icqNCkdyDQjVF22uqd3dn5/Commons-Garden-notes-board?node-id=0%3A1&amp;t=VhZY9FHyGyHaR5iW-1">Notes board</a> (figjam)</li>
<li><a href="https://signal.group/#CjQKIAneWf9J6yoVIAKUjLdLynBTbQxuaTEVHbpaLioQhdL-EhAybesuQH-M_Uy8AvcJkEeW">conversation</a> (signal)</li>
<li>documentation: this file</li>
</ul>
<h2 id="policies">Policies</h2>
<ol>
<li><strong>guarding and enhancing the commons</strong>
 what projects have to have for us to sponsor it? why? be explicit<ul>
<li>usability</li>
<li>security</li>
<li>aligning parallel work<ul>
<li>connections</li>
</ul>
</li>
<li>conflict resolution</li>
<li>coalescing - standards, patterns </li>
<li>code of conduct</li>
<li>technical standards</li>
</ul>
</li>
<li><strong>low-stress emotional labor</strong>
 maintenance never ends, so organization  ideas trumps speed</li>
<li><strong>from nouns to verbs</strong>
 an effort <em>towards</em>, not a state of perfection</li>
<li>start with community we know (scuttlebutt)</li>
<li><strong>we serve the community</strong><ul>
<li>you don&#39;t have time to do specs? we have it for you.</li>
<li>we can resource that for you!</li>
<li>you can focus on great experiences instead</li>
<li>we get it off your plate</li>
<li>conflict resolution</li>
<li>reaching agreements</li>
<li>accelerator</li>
</ul>
</li>
</ol>
