	<div class="list categories">
					<!-- <a href="/initiative">
					<span class="title">initiative</span>
					<span class="description"></span>
				</a> -->
				<a href="/spec">
					<span class="title">spec</span>
					<span class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, ea.</span>
				</a>
				<a href="/tutorial">
					<span class="title">tutorial</span>
					<span class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, quasi! Illum magni suscipit enim, cupiditate aliquam non omnis natus similique.</span>
				</a>
				<a href="/about">
					<span class="title">about</span>
					<span class="description">Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Neque, quas?</span>
				</a>
			</div>