<div class="grid">
  <section>
    <h2>Categories</h2>
    <!-- CODE: loop public categories? -->
    <div class="links">
      <a href="/spec">specs</a>
      <a href="/organization">organizations</a>
      <a href="/gardener">gardeners</a>
      <a href="/initiative">initiatives</a>
      <a href="/about">about</a>
    </div>
  </section>

  <section>
    <h2>More</h2>
    <div class="links">
      <a href="/about/roadmap">roadmap</a>
      <!-- <a href="/about/phases">phases</a> -->
      <a href="/about/literature">literature</a>
      <a href="/about/initiatives">initiatives</a>
      <!-- <a href="/about/mission">mission</a> -->
    </div>
  </section>

  <section>
    <h2>Contact</h2>
    <div class="links">
      <a href="mailto:commons.garden@proton.me?subject:commons.garden"
        >via email</a
      >
      <a
        href="https://signal.group/#CjQKIAneWf9J6yoVIAKUjLdLynBTbQxuaTEVHbpaLioQhdL-EhAybesuQH-M_Uy8AvcJkEeW"
        >via signal</a
      >
      <a href="https://zcal.co/nonlinear/commons">consultation</a>
      <a href="https://opencollective.com/commons-garden">donations</a>
    </div>
  </section>

  <section>
    <!-- CODE: can we loop members here with popovers? -->
    <h2>Team</h2>
    <div class="links">
      <a href="/gardener/mixmix">mixmix</a>
      <a href="/gardener/nonlinear">nonlinear</a>
      <a href="/gardener/spencer">spencer</a>
    </div>
  </section>
</div>
