{{ $name := .Params.title }}

<article>
  <div class="badge">
  {{ range (slice "jpg" "jpeg" "png" "svg") }}
    {{ $img_src := (printf "/images/person/%s.%s" $name .) }}
    {{ if (fileExists (add "static" $img_src)) }}
      <div 
        class="avatar"
        style="background-image: url({{ $img_src }})"
       />
    {{ end }}
  {{ end }}
  </div>

	<ul class="status">
    <li>
      <span>Organizations I belong:</span> (pending)
      {{ range .Site.AllPages }}
        {{ if (and (in .Params.members $name) (in .Params.Type "public")) }}
          <a href="/{{.Params.category}}/{{.File.ContentBaseName}}">{{.Params.title}}</a>
          ({{.Params.category}})
        {{ end }}
      {{ end }}
    </li>

    <li>
      <span>Facilitator in:</span>
      {{ range .Site.AllPages }}
        {{ if (and (in .Params.facilitator $name) (in .Params.Type "public")) }}
          <a href="/{{.Params.category}}/{{.File.ContentBaseName}}">{{.Params.title}}</a>
          ({{.Params.category}})
        {{ end }}
      {{ end }}
    </li>

    <li>
      <span>Author in:</span>
      {{ range .Site.AllPages }}
        {{ if (and (in .Params.author $name) (in .Params.Type "public")) }}
          <a href="/{{.Params.category}}/{{.File.ContentBaseName}}">{{.Params.title}}</a>
          ({{.Params.category}})
        {{ end }}
      {{ end }}
    </li>

    <li>
      <span>Helped in:</span>
      {{ range .Site.AllPages }}
        {{ if (and (in .Params.helper $name) (in .Params.Type "public")) }}
          <a href="/{{.Params.category}}/{{.File.ContentBaseName}}">{{.Params.title}}</a>
          ({{.Params.category}})
        {{ end }}
      {{ end }}
    </li>
	</ul>

	<section class="content">
		{{ .Content }}
	</section>
</article>
