<article>
    <div class="badge">
  {{ if .Params.imageType }}

    <div class="avatar" style="background-image: url(/images/person/{{.Params.title}}.{{.Params.imageType}})">
      
    </div>
  {{ end }}

	<ul class="status">
	<li>
      <span>Organizations I belong:</span> (pending)
     <!--  {{ range .Site.AllPages }}
        {{ if (in .Params.helper $.Params.title) }}
          <a href="/{{.Params.category}}/{{.File.ContentBaseName}}">{{.Params.title}}</a>
        {{ end }}
      {{ end }} -->
    </li>


    <li>
      <span>Facilitator in:</span>
      {{ range .Site.AllPages }}
        {{ if (in .Params.facilitator $.Params.title) }}
        {{ if (in .Params.Type "public")  }}
          <a href="/{{.Params.category}}/{{.File.ContentBaseName}}">{{.Params.title}}</a> ({{.Params.category}})
        {{ end }}
         {{ end }}
      {{ end }}
    </li>

    <li>
      <span>Author in:</span>
      {{ range .Site.AllPages }}
        {{ if (in .Params.author $.Params.title)  }}
         {{ if (in .Params.Type "public")  }}
          <a href="/{{.Params.category}}/{{.File.ContentBaseName}}">{{.Params.title}}</a> ({{.Params.category}})
        {{ end }}
        {{ end }}
      {{ end }}
    </li>
     <li>
      <span>Helped in:</span>
      {{ range .Site.AllPages }}
        {{ if (in .Params.helper $.Params.title) }}
          {{ if (in .Params.Type "public")  }}
          <a href="/{{.Params.category}}/{{.File.ContentBaseName}}">{{.Params.title}}</a> ({{.Params.category}})
        {{ end }}
{{ end }}
      {{ end }}
    </li>

    
	</ul>
</div>
	<section class="content">
		{{ .Content }}
	</section>
</article>
