<a data-toggle="popover" data-placement="top" data-content='
			<h3>Other categories</h3>
	<div class="list categories">
					<!-- <a href="/initiative">
					<span class="title">initiative</span>
					<span class="description"></span>
				</a> -->
				<a href="/about">
					<span class="title">about</span>
					<span class="description">adipisicing elit. Neque, quas?</span>
				</a>
				<a href="/spec">
					<span class="title">spec</span>
					<span class="description">Lorem ipsum dolor sit amet consectetur</span>
				</a>
				<a href="/wireframe">
					<span class="title">wireframe</span>
					<span class="description">Lorem ipsum dolor sit amet consectetur</span>
				</a>
				<a href="/tutorial">
					<span class="title">tutorial</span>
					<span class="description">Expedita, quasi! Illum magni suscipit enim, cupiditate aliquam non omnis natus similique.</span>
				</a>
				
			</div>
'>