<a data-toggle="popover" data-placement="top" data-content='
			<h3>Other categories</h3>
	<div class="list categories">
					<a href="/initiative">
					<span class="title">initiative</span>
					<span class="description">Our discussion topics</span>
				</a>
				<a href="/about">
					<span class="title">about</span>
					<span class="description">About commons.garden</span>
				</a>
				<a href="/spec">
					<span class="title">spec</span>
					<span class="description">Technical deliverables</span>
				</a>
				<a href="/wireframe">
					<span class="title">wireframe</span>
					<span class="description">Usability deliverables</span>
				</a>
				<a href="/tutorial">
					<span class="title">tutorial</span>
					<span class="description">How to write useful documentation</span>
				</a>
				
			</div>
'>